html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 15px;
  width: 100%;
}

.header {
  background: url("images/stockmarket.jpg") no-repeat center center;
  background-size: cover;
  height: 550px;
  text-align: center;
}

.header .container {
  position: relative;
  top: 120px;
}

.header h1 {
  color: #fff;
  line-height: 1.1;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (min-width: 850px) {
  .header {
    height: 800px;
  }
  .header .container {
    top: 200px;
  }
  .header h1 {
    font-size: 120px;
    margin-bottom: 80px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 850px) {
  .header p {
    letter-spacing: 8px;
    font-size: 16px;
  }
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s;
  display: inline-block;
}

.main .container {
  margin: 30px auto;
}

.main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.jumbotron {
  background: url("images/beans.jpg") center center;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}

.jumbotron .container {
  position: relative;
  top: 0;
}

.jumbotron h2, .jumbotron p {
  color: #fff;
  text-align: center;
}

.jumbotron img {
  display: inline-block;
  margin: 10px;
  float: none !important;
}

@media (min-width: 768px) {
  .jumbotron {
    height: 500px;
    text-align: right;
  }
  .jumbotron .container {
    top: 150px;
  }
  .jumbotron h2, .jumbotron p {
    text-align: right;
  }
  .jumbotron img {
    float: right !important;
    margin: 10px 0 0 10px;
  }
}

.footer {
  background: #000;
  padding: 20px 10px;
  text-align: center;
}

.footer p {
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  table th, table td {
    padding: 8px !important;
    font-size: 11px !important;
  }
}
